Repository adrielcodeco/onhand-common: changes, and which Codecov flags are due for each by the changed paths.
All: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

.codecov.yml:

coverage:
  status:
    patch:
      default:
        # Ensure % of code is covered
        target: 90%
    project:
      default:
        # auto compares coverage to the previous base commit
        target: auto
        # adjust accordingly based on how flaky your tests are
        # this allows a 10% drop from the previous base commit coverage
        threshold: 10%
parsers:
  javascript:
    enable_partials: yes
comment:
  layout: diff, flags, files
  require_changes: true
flags:
  "onhand_common_business":
    paths: 
      - packages/business/
  "onhand_common_business_aws":
    paths: 
      - packages/business-aws/
  "onhand_common_controller":
    paths: 
      - packages/controller/
  "onhand_common_framework":
    paths: 
      - packages/framework/
  "onhand_common_framework_aws":
    paths: 
      - packages/framework-aws/
  "onhand_jsend":
    paths: 
      - packages/jsend/

fix(framework-aws): lambda stage
  packages/framework-aws/src/infrastructure/apigateway/apigatewayFunction.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.42 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(framework-aws): container rebind
  packages/framework-aws/src/infrastructure/apigateway/apigatewayFunction.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.43 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: logs
  packages/framework-aws/src/infrastructure/apigateway/apigatewayCORS.ts
  packages/framework-aws/src/infrastructure/apigateway/apigatewayFunction.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.44 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: logger
  packages/framework-aws/src/infrastructure/apigateway/apigatewayFunction.ts
  packages/framework-aws/src/infrastructure/apigateway/apigatewayHandler.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.45 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: lambdas
  packages/framework-aws/src/infrastructure/apigateway/apigatewayFunction.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.46 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

feat: logging the lambda context
  packages/framework-aws/src/infrastructure/apigateway/apigatewayFunction.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.47 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: build
  packages/framework-aws/src/infrastructure/apigateway/apigatewayHandler.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.48 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: disabling the api gateway default endpoint
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
Due: none

chore(release): publish v1.0.49 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(iac-aws): custom domains
  packages/iac-aws/src/cdk/api/app.ts
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
Due: none

chore(release): publish v1.0.50 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(iac-aws): api gateway custom domain dns
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
Due: none

chore(release): publish v1.0.51 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(iac-aws): class-validator
  packages/framework-aws/src/infrastructure/apigateway/apigatewayFunction.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.52 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: lambda input
  packages/framework-aws/src/infrastructure/apigateway/apigatewayFunction.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.53 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(iac-aws): lambda body as string
  packages/iac-aws/src/app/serve.ts
Due: none

chore(release): publish v1.0.54 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

feat: dashboard
  onhand-common.code-workspace
  packages/dashboard/README.md
  packages/dashboard/package.json
Due: none

feat: add dashboard package
  packages/dashboard/package.json
  packages/dashboard/public/favicon.ico
  packages/dashboard/public/index.html
  packages/dashboard/public/logo192.png
  packages/dashboard/public/logo512.png
  packages/dashboard/public/manifest.json
  packages/dashboard/public/robots.txt
  packages/dashboard/src/App.css
  packages/dashboard/src/App.js
  packages/dashboard/src/App.test.js
  packages/dashboard/src/index.css
  packages/dashboard/src/index.js
  packages/dashboard/src/logo.svg
  packages/dashboard/src/reportWebVitals.js
  packages/dashboard/src/setupTests.js
  yarn.lock
Due: none

fix(iac-aws): changing the authorizer function of stack
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
Due: none

chore(release): publish v1.0.55 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/dashboard/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: pipeline
  onhand-common.code-workspace
  packages/dashboard/README.md
  packages/dashboard/package.json
  packages/dashboard/public/favicon.ico
  packages/dashboard/public/index.html
  packages/dashboard/public/logo192.png
  packages/dashboard/public/logo512.png
  packages/dashboard/public/manifest.json
  packages/dashboard/public/robots.txt
  packages/dashboard/src/App.css
  packages/dashboard/src/App.js
  packages/dashboard/src/App.test.js
  packages/dashboard/src/index.css
  packages/dashboard/src/index.js
  packages/dashboard/src/logo.svg
  packages/dashboard/src/reportWebVitals.js
  packages/dashboard/src/setupTests.js
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
Due: none

chore(release): publish v1.0.56 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none
