Repository adrielcodeco/onhand-common: changes, and which Codecov flags are due for each by the changed paths.
All: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

.codecov.yml:

coverage:
  status:
    patch:
      default:
        # Ensure % of code is covered
        target: 90%
    project:
      default:
        # auto compares coverage to the previous base commit
        target: auto
        # adjust accordingly based on how flaky your tests are
        # this allows a 10% drop from the previous base commit coverage
        threshold: 10%
parsers:
  javascript:
    enable_partials: yes
comment:
  layout: diff, flags, files
  require_changes: true
flags:
  "onhand_common_business":
    paths: 
      - packages/business/
  "onhand_common_business_aws":
    paths: 
      - packages/business-aws/
  "onhand_common_controller":
    paths: 
      - packages/controller/
  "onhand_common_framework":
    paths: 
      - packages/framework/
  "onhand_common_framework_aws":
    paths: 
      - packages/framework-aws/
  "onhand_jsend":
    paths: 
      - packages/jsend/

chore(release): publish v1.0.5 [ci skip]
  .circleci/config.yml
  lerna.json
  packages/business-aws/README.md
  packages/business-aws/package.json
  packages/business/README.md
  packages/business/package.json
  packages/controller/README.md
  packages/controller/package.json
  packages/framework-aws/README.md
  packages/framework-aws/package.json
  packages/framework/README.md
  packages/framework/package.json
  packages/jsend/README.md
  packages/jsend/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

chore(release): publish v1.0.6 [ci skip]
  .circleci/config.yml
  lerna.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/jsend/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

chore: packages upgrade
  package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/controller/src/operation.ts
  packages/framework-aws/package.json
  packages/framework-aws/src/infrastructure/awsFunction.ts
  packages/framework/package.json
  packages/framework/src/services/inMemoryCacheService.ts
  packages/framework/src/services/sessionService.ts
  packages/jsend/package.json
  yarn.lock
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

chore: dependabot config
  .github/dependabot.yml
Due: none

chore: fixing pipeline
  .circleci/config.yml
Due: none

fix: pipeline
  .circleci/config.yml
  package.json
Due: none

fix: pipeline
  .circleci/config.yml
  .eslintrc.js
  package.json
Due: none

fix: pipeline
  .circleci/config.yml
Due: none

fix: pipeline
  .npmrc
Due: none

fix: pipeline
  package.json
Due: none

chore(release): publish v1.0.7 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

chore(release): publish v1.0.8 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: tsting bin
  packages/tsting/package.json
Due: none

chore(release): publish v1.0.9 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

chore(release): publish v1.0.10 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: tsting
  packages/tsting/src/bin/tsting.ts
  packages/tsting/src/engine/engine.ts
Due: none

chore(release): publish v1.0.11 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: enabling tests in the pipeline
  .cspell.json
  onhand-common.code-workspace
  packages/framework-aws/src/infrastructure/awsFunctionContainerContext.ts
  packages/framework-aws/src/models/acGroups.ts
  packages/framework-aws/src/models/acRoles.ts
  packages/framework-aws/src/models/dyModel.ts
  packages/framework-aws/src/models/opaqueTokenModel.ts
  packages/framework-aws/src/services/parameterStoreService.ts
  packages/iac-aws/src/app/db/timeline.ts
  packages/iac-aws/src/app/loadConfig.ts
  packages/iac-aws/src/app/seed.ts
  packages/iac-aws/src/app/serve.ts
  packages/iac-aws/src/app/webpack.ts
  packages/iac-aws/src/cdk/api/seedFunction.ts
  packages/iac-aws/src/cdk/api/stacks/deployStack.ts
  packages/iac-aws/src/cdk/api/stacks/flagrStack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
  packages/iac-aws/src/commands/serve.ts
  packages/iac-aws/tsconfig.json
  packages/openapi/src/extractOpenApiSpecification.ts
  tsconfig.base.json
Due: onhand_common_framework_aws

chore(release): publish v1.0.12 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: dynamoose
  packages/framework-aws/src/models/dyModel.ts
  packages/tsting/package.json
  packages/tsting/src/engine/engine.ts
  packages/tsting/src/engine/onhandFile.ts
  yarn.lock
Due: onhand_common_framework_aws

chore(release): publish v1.0.13 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: tsting
  packages/tsting/src/engine/engine.ts
  packages/tsting/src/engine/onhandFile.ts
Due: none

chore(release): publish v1.0.14 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: seeds
  packages/iac-aws/src/app/serve.ts
  packages/iac-aws/src/commands/serve.ts
Due: none

chore(release): publish v1.0.15 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: send exit code 1 when fail for depoy command
  packages/iac-aws/src/bin/iac.ts
  packages/iac-aws/src/commands/deploy.ts
Due: none

chore(release): publish v1.0.16 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: aws deploy stacks
  packages/iac-aws/package.json
  packages/iac-aws/src/cdk/api/stacks/deployStack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
  yarn.lock
Due: none

chore(release): publish v1.0.17 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(IAC-AWS): enabling cors to api gateway
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
Due: none

chore(release): publish v1.0.18 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

feat: updating packages
  .cspell.json
  package.json
  packages/framework-aws/package.json
  packages/iac-aws/package.json
  packages/iac-aws/src/app/seed.ts
  packages/iac-aws/src/app/serve.ts
  packages/iac-aws/src/bin/iac.ts
  packages/iac-aws/src/commands/seed.ts
  packages/iac-aws/src/commands/serve.ts
  yarn.lock
Due: onhand_common_framework_aws

chore(release): publish v1.0.19 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(IAC-AWS): deploy
  packages/iac-aws/src/app/loadConfig.ts
  packages/iac-aws/src/app/options.ts
  packages/iac-aws/src/cdk/api/app.ts
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
  packages/iac-aws/src/cdk/api/stacks/cloudfrontStack.ts
  packages/iac-aws/src/cdk/api/stacks/deployStack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
  packages/iac-aws/src/cdk/api/stacks/s3Stack.ts
  packages/iac-aws/src/cdk/cdk.ts
  packages/iac-aws/src/cdk/site/stacks/cloudfrontStack.ts
  packages/iac-aws/src/cdk/site/stacks/deployStack.ts
  packages/iac-aws/src/cdk/site/stacks/s3Stack.ts
Due: none

chore(release): publish v1.0.20 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

feat(IAC-AWS): running seed function on deploy
  packages/iac-aws/package.json
  packages/iac-aws/src/cdk/api/seedFunction.ts
  packages/iac-aws/src/cdk/api/stacks/deployStack.ts
  yarn.lock
Due: none
