Repository adrielcodeco/onhand-common: changes, and which Codecov flags are due for each by the changed paths.
All: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

.codecov.yml:

coverage:
  status:
    patch:
      default:
        # Ensure % of code is covered
        target: 90%
    project:
      default:
        # auto compares coverage to the previous base commit
        target: auto
        # adjust accordingly based on how flaky your tests are
        # this allows a 10% drop from the previous base commit coverage
        threshold: 10%
parsers:
  javascript:
    enable_partials: yes
comment:
  layout: diff, flags, files
  require_changes: true
flags:
  "onhand_common_business":
    paths: 
      - packages/business/
  "onhand_common_business_aws":
    paths: 
      - packages/business-aws/
  "onhand_common_controller":
    paths: 
      - packages/controller/
  "onhand_common_framework":
    paths: 
      - packages/framework/
  "onhand_common_framework_aws":
    paths: 
      - packages/framework-aws/
  "onhand_jsend":
    paths: 
      - packages/jsend/

chore(release): publish v1.0.21 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

feat(IAC-AWS): applying seeds after deploy
  packages/iac-aws/src/app/seed.ts
  packages/iac-aws/src/app/webpack.ts
  packages/iac-aws/src/cdk/api/seedFunction.ts
  packages/iac-aws/src/cdk/api/stacks/deployStack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
Due: none

chore(release): publish v1.0.22 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

feat(IAC-AWS): adding stage env to functions
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
Due: none

chore(release): publish v1.0.23 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: some issues
  packages/framework-aws/src/decorators/loadSSM.ts
  packages/framework-aws/src/decorators/ssm.ts
  packages/framework-aws/src/infrastructure/apigateway/authorizerCustomFunction.ts
  packages/framework-aws/src/infrastructure/initSSM.ts
  packages/framework/src/infrastructure/decorators/env.ts
  packages/iac-aws/bin/iac
  packages/iac-aws/package.json
  packages/iac-aws/src/app/config.ts
  packages/iac-aws/src/app/loadConfig.ts
  packages/iac-aws/src/app/webpack.ts
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
  packages/iac-aws/src/commands/deploy.ts
  packages/iac-aws/src/commands/serve.ts
  packages/tsting/bin/tsting-runner
  packages/tsting/package.json
  packages/tsting/src/engine/onhandFile.ts
  yarn.lock
Due: onhand_common_framework, onhand_common_framework_aws

chore(release): publish v1.0.24 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(framework): logging
  packages/framework-aws/src/services/parameterStoreService.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.25 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(iac-aws): cdk deploy
  packages/iac-aws/src/cdk/cdk.ts
Due: none

chore(release): publish v1.0.26 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(iac-aws): deploy
  packages/iac-aws/src/cdk/site/app.ts
Due: none

chore(release): publish v1.0.27 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: cors
  packages/framework-aws/src/infrastructure/apigateway/apigatewayOutput.ts
  packages/iac-aws/src/bin/iac.ts
  packages/iac-aws/src/commands/build.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.28 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: cors
  packages/framework-aws/src/infrastructure/apigateway/apigatewayCORS.ts
  packages/framework-aws/src/infrastructure/apigateway/apigatewayFunction.ts
  packages/framework-aws/src/infrastructure/apigateway/apigatewayOutput.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.29 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: cors
  packages/iac-aws/src/app/config.ts
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
Due: none

chore(release): publish v1.0.30 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(iac-aws): config
  packages/iac-aws/src/app/config.ts
Due: none

chore(release): publish v1.0.31 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(iac-aws): add lambda:InvokeFunction policy to api gateway
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
Due: none

chore(release): publish v1.0.32 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: function policies
  packages/framework-aws/package.json
  packages/framework-aws/src/infrastructure/apigateway/metadata/policiesMetadata.ts
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
  packages/openapi/src/functionMetadata.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.33 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

chore(release): publish v1.0.34 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(openapi): function metadata
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
  packages/openapi/src/extractOpenApiSpecification.ts
  packages/openapi/src/functionMetadata.ts
Due: none

chore(release): publish v1.0.35 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: aws deploy
  packages/framework-aws/src/infrastructure/apigateway/apigatewayHandler.ts
  packages/openapi/src/extractOpenApiSpecification.ts
Due: onhand_common_framework_aws

chore(release): publish v1.0.36 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: function metadata
  packages/openapi/src/extractOpenApiSpecification.ts
  packages/tsting/src/lib/tsting-steps.ts
Due: none

chore(release): publish v1.0.37 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: api gateway
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
Due: none

chore(release): publish v1.0.38 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: log
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
Due: none

chore(release): publish v1.0.39 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix: logs
  packages/framework/src/infrastructure/logger/consoleLogger.ts
Due: onhand_common_framework

chore(release): publish v1.0.40 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend

fix(iac-aws): api gateway stage
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
Due: none

chore(release): publish v1.0.41 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/ts-transform-json-schema/package.json
  packages/tsting/package.json
  packages/utils/package.json
Due: onhand_common_business, onhand_common_business_aws, onhand_common_controller, onhand_common_framework, onhand_common_framework_aws, onhand_jsend
